<div class="container">
  <div class="row">
    <div class="xs-col-12">
      <h2>I am in app component</h2>
      <hr />
      <app-servers></app-servers>
      <app-server ></app-server>

      <div
        class="alert alert-success text text-success border border-success"
        role="alert"
      >
        <app-success-alert></app-success-alert>
      </div>
      <div
        class="alert alert-warning text text text-warning border border-warning"
        role="alert"
      >
        <app-warning-alert></app-warning-alert>
      </div>
    </div>
  </div>
</div>
